{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container login-form">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="sign-h1 mt-5">{% trans "Sign In" %}</h1>

                <p class="welcome-back-text mb-5">{% blocktrans %}Welcome back to the SubHub. Please login to check on your subscriptions. If
                    you haven't created an account yet, <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            </div>

            <form class="center-form-elements" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
