@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Import Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --primary-color: #ffffff;  /*white*/
    --secondary-color: #2a2b2e; /* Dark Gray */
    --text-color: #2a2b2e; /* Dark Gray */
    --hover-color: #005580; /* dark blue*/
    --hover-nav-color: #00FFFF;
    --header-font: 'Roboto', sans-serif;
    --normal-font: 'Quicksand', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
  
}
html,body{
    height:100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6, label{
    font-family: var(--header-font);
    color: var(--hover-color)
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Customize the navbar colors */
.navbar-custom {
    background-color: transparent;
}
.navbar-custom .navbar-brand {
    fill: var(--secondary-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--secondary-color);
}
.navbar-custom .navbar-nav .nav-link {
    color: var(--secondary-color);
    font-size: 1.5rem; 
    display: block; 
    padding: 10px 20px; 
    border-bottom: 5px solid transparent; /* Transparent border to maintain space */
    transition: border-bottom 0.3s ease; 
}

.navbar-custom .navbar-nav .nav-link:hover {
    border-bottom: 3px solid var(--hover-nav-color); 

    
}

/* Center the navbar menu in the dropdown */
.navbar-custom .navbar-collapse {
    text-align: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width:100vw;
}
.nav-link{
    width:90vw;
}

.navbar-custom .navbar-nav .nav-link.active {
    background-color: var(--hover-color);
    color: var(--primary-color) !important;
    border-radius: 10px;
}
/* Customizing footer */
footer {
    background-color: var(--secondary-color);
width: 100%;
background-color: var(--secondary-color);
color: var(--primary-color);
font-family: 'Quicksand', sans-serif;
font-weight: 400;
text-align: center;
}
footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--hover-color);
}

.social-media-icon{
    font-size: 2rem;
}

.icon-instagram {
    background-image: linear-gradient(45deg, #405de6 0%, #5851db 11%, #bc2a8d 22%, #e95950 33%, #fccc63 44%, #fbad50 55%, #ff6600 66%, #ff9933 77%, #ffcc33 88%, #feda75 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}



.icon-messenger {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffb6c1 25%, #8a2be2 50%, #007fff 75%); /* Gradient resembling Messenger logo */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}


.icon-twitter {
    background-image: linear-gradient(45deg, #1DA1F2, #AED9F1); /* Gradient resembling Twitter logo */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/*Customising SIgn In and registration page*/

/*customising signin page*/


.sign-h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.welcome-back-text{
    font-size: 1rem;
    font-weight:bold;
}
.center-form-elements > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}


.btn-signup,
.signup-form button {
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: var(--normal-font);
    transition: background-color 0.3s ease;


}

.btn-signup:hover,  .signup-form button:hover {
    background-color: #003c4e;
    color:white;
}
.login {
    width: 100%;
    max-width: 400px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-family: var(--normal-font);
    }

    /*Style task dashboard*/
    .task-card {
        transition: border-color 0.3s;
         
    }
    
    .task-card:hover {
        border-color: #005580; 
    }
    
    