
<header>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand"  href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 75" width="120" height="75">
                    <!-- Background rectangle -->
                    <rect x="10" y="10" width="100" height="55" rx="15" ry="15" fill="#005580"/> <!-- Darker blue -->
                    
                    <!-- Text for "TaskHub" -->
                    <text x="60" y="40" font-family="Arial, sans-serif" font-size="20" font-weight="bold" fill="#FFF" text-anchor="middle" alignment-baseline="middle">TaskHub</text>
                </svg>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> <!-- Centered navbar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                   
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/task_list/' %}active{% endif %}" href="{% url 'task_list' %}">Dashboard</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/create_task/' %}active{% endif %}" href="{% url 'create_task' %}">Add Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="#contact">Contact Us</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
