{% extends "base.html" %}
{% load allauth i18n crispy_forms_tags %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8"> <!-- Increased width to col-md-8 -->
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% trans "Sign Up" %}</h1>
                    <p class="card-text text-center mb-4">{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>
                    {% if not SOCIALACCOUNT_ONLY %}
                    <form method="post" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                        </div>
                        {{ redirect_field }}
                    </form>
                    {% endif %}
                    {% if SOCIALACCOUNT_ENABLED %}
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
